.DS_Store
Dockerfile
.coveralls.yml
.travis.yml
.ruby-version
docker-compose.yml
.bin
.git
.gitignore
.bundleignore
.bundle
.byebug_history
tmp/*
log/*
coverage/
README.md
.env
.env.sample
scratch.rb
