default: &default
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see Rails configuration guide
  # http://guides.rubyonrails.org/configuring.html#database-pooling
  pool: <%= ENV.fetch('RAILS_MAX_THREADS') { 5 } %>
  host: <%= ENV.fetch('ARK_MANAGER_DATABASE_HOST', 'localhost') %>
  port: <%= ENV.fetch('ARK_MANAGER_DATABASE_POST', 5432) %>

development:
  <<: *default
  database: ark_manager_devlopment
  username: <%= ENV['ARK_MANAGER_DATABASE_USER'] %>
  password: <%= ENV['ARK_MANAGER_DATABASE_PASSWORD'] %>

test:
  <<: *default
  database: ark_manager_test
  username: <%= ENV['ARK_MANAGER_DATABASE_USER'] %>
  password: <%= ENV['ARK_MANAGER_DATABASE_PASSWORD'] %>

staging:
  <<: *default
  database: ark_manager_staging
  username: <%= ENV['ARK_MANAGER_DATABASE_USER'] %>
  password: <%= ENV['ARK_MANAGER_DATABASE_PASSWORD'] %>

production:
  <<: *default
  database: ark_manager_production
  username: <%= ENV['ARK_MANAGER_DATABASE_USER'] %>
  password: <%= ENV['ARK_MANAGER_DATABASE_PASSWORD'] %>
